In [2]:
import pandas as pd

In [3]:
df =  pd.read_csv("vine_table.csv")

In [4]:
# 1. Filter the data for all the rows where the total_votes count >= 20; avoids error division by zero and allows for credible products
reviews_df = df.loc[df["total_votes"]>=20]
reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [5]:
# 2. Filter reviews_df to retrieve all the rows where # of helpful_votes divided by total_votes >= 50%.
helpful_reviews_df = reviews_df.loc[(reviews_df["helpful_votes"]/reviews_df["total_votes"])>=0.5]
helpful_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [6]:
# 3. filter the helpful_reviews_df to retrieve all the rows for reviews through Vine program (vine == 'Y')
vine_reviews_df = helpful_reviews_df.loc[helpful_reviews_df["vine"] == "Y"]
vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [7]:
# 4. filter the helpful_reviews_df to retrieve all the rows for reviews through Vine program (vine == 'N')
non_vine_reviews_df = helpful_reviews_df.loc[helpful_reviews_df["vine"] == "N"]
non_vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [10]:
# 5. The overall total number of reviews (paid and unpaid reviews)
all_reviews = helpful_reviews_df["review_id"].nunique()
print(f"The overall number of reviews (paid and unpaid) is {all_reviews}.")

The overall number of reviews (paid and unpaid) is 14537.

In [21]:
# 5. Paid reviews, Determine:
    # Total number of paid reviews
    # Number of paid 5-star reviews
    # The percentage of paid reviews that are five stars (denominator is all paid reviews)

# For all products with a minimum of 20 votes, there are:
# Total number of paid reviews
total_paid_reviews = vine_reviews_df["review_id"].nunique()
print(f"There are {total_paid_reviews} total paid reviews for musical instruments on Amazon.")
# Number of paid 5-star reviews
paid_five_star_reviews = vine_reviews_df.loc[vine_reviews_df["star_rating"]==5.0]["star_rating"].count()
print(f"Out of all paid reviews, there are {paid_five_star_reviews} five star reviews.")
# The percentage of paid reviews that are five stars
percentage_paid_five_star_reviews = round(100*paid_five_star_reviews/total_paid_reviews)
print(f"{percentage_paid_five_star_reviews}% of paid reviews had a five star rating.")

There are 60 total paid reviews for musical instruments on Amazon.
Out of all paid reviews, there are 34 five star reviews.
57.0% of paid reviews had a five star rating.

In [22]:
# 5. Unpaid reviews, Determine:
    # Total number of unpaid reviews
    # Number of unpaid 5-star reviews
    # The percentage of  Vine == 'N' (unpaid) reviews that are 5-stars (denominator is all unpaid reviews)

# For all products with a minimum of 20 votes, there are:
# Total number of unpaid reviews
total_unpaid_reviews = non_vine_reviews_df["review_id"].nunique()
print(f"There are {total_unpaid_reviews} total unpaid reviews for musical instruments on Amazon.")
# Number of unpaid 5-star reviews
unpaid_five_star_reviews = non_vine_reviews_df.loc[non_vine_reviews_df["star_rating"]==5.0]["star_rating"].count()
print(f"Out of all unpaid reviews, there are {unpaid_five_star_reviews} five star reviews.")
# The percentage of unpaid reviews that are five stars
percentage_unpaid_five_star_reviews = round(100*unpaid_five_star_reviews/total_unpaid_reviews)
print(f"{percentage_unpaid_five_star_reviews}% of unpaid reviews had a five star rating.")

There are 14477 total unpaid reviews for musical instruments on Amazon.
Out of all unpaid reviews, there are 8212 five star reviews.
57.0% of unpaid reviews had a five star rating.